.profile {
  display: flex;
  border-bottom: 1px solid #000000;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  max-height: 45px;

  &__user {
    display: block;
    min-width: 1116px
  }

  &__block {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    margin: 0 62px 0 53px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 45px;
    white-space: nowrap;
  }
  &__title {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    margin: 15px 53px;
  }

  &__city, &__phone, &__email, &__website, &__company {
    border-right: 1px solid #000000;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 18px;
    &:last-child {
      border-right: none;
    }
  }

  &__btn {
    &:last-child {
      border: none;
    }
    background: #101010;
    border: none;
    padding: 15px 28px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    white-space: nowrap;
    border-right: 1px solid #FFFFFF;
     }
     &__posts {
      border-top: 1px solid #000000;
      margin-top: 25px;
      text-align: left;
     }
     &__posts__block {
      margin: 0 62px 33px 53px;
     }
     &__posts__title {
      font-family: 'Alegreya Sans SC';
      font-style: normal;
      font-weight: 500;
      font-size: 35px;
      line-height: 40px;
      margin: 15px 0;
     }
     &__posts__list {
      display: grid;
      grid-auto-flow: row dense;
      grid-template-columns: 1fr 1fr;
      gap: 19px 19px;
     }
     &__post {
      border: 1px solid #000000;
      padding: 14px 23px 17px 35px;
      max-width: 490px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     }
     &__post__title {
       margin: 0;
       margin-bottom: 4px;
       text-transform: capitalize;

     }
     &__post__text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.41);
      margin: 0;
     }
     &__posts__all {
       background: #101010;
        border: none;
        padding: 15px 28px;
        cursor: pointer;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 15px;
        color: #FFFFFF;
        white-space: nowrap;
        border-right: 1px solid #FFFFFF;
     }

}

.profile__name {
  display: flex;
  width: 100%;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;

  &__block {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    margin: 0 62px 0 53px;
    width: 100%;
    display: flex;
    padding-left: 18px;
  }
  &__user {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    margin: 15px 0;
  }
}