.user {
  display: flex;
  width: 100%;
  border-top: 1px solid #000000;

  &__block {
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    margin: 0px 53px;
    width: 100%;
    display: flex;
    padding: 11px 0 13px 18px;

  }

  &__name {
    font-family: 'Alegreya Sans SC';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 40px;
    margin-right: 5px;
  }

  &__link {
    text-decoration: none;
    color: #000000;
  }
}